node_modules
.idea
.vscode
.DS_Store
*.swp
*.log
.env
*.ignore

.gitignore
.babelrc
.babelrc.js
.eslintignore
.eslintrc.js
.prettierignore
.prettierrc.js
.sanejs-stats.json
.sanejsrc.js
jest.config.js
wallaby.config.js

src
